.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        shin
      .top-items__icons
        = link_to "#", class: "top-items__btn" do
          %i.fas.fa-edit.top-items__btn--icon
        = link_to "#2", class: "top-items__btn" do
          %i.fa.fa-cog.top-items__btn--icon
  .side-bar__group-list
    .group
      .group__list
        techcamp
      .group__message
        まだメッセージがありません
    .group
      .group__list
        techcamp
      .group__message
        まだメッセージがありません
    .group
      .group__list
        techcamp
      .group__message
        まだメッセージがありません